* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: url(/img/Travel\ Time.png);
}

.wrapper {
    min-height: 100%;
    font-family: "Georgia ", sans-serif
}




.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.container__hero {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav {
    width: 100%;
    text-align: center;

    padding: 20px 0;

    float: left;


}






a {
    text-decoration: none;

}

.logo {
    display: block;

}



.hero_img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.nav_list {
    column-gap: 40px;
    border-bottom: 5px solid transparent;
    justify-content: left;
    display: flex;
    text-decoration: none;

    color: azure;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}



.nav_list:hover {
    border-color: beige;

    border-color: var(--color-primary);
}


.style {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style_k {
    font-size: 110px
}

.j_k {
    color: aliceblue;
    justify-content: center;
    display: flex;

    align-items: center;
    top: 100%;


}



.button {
    padding: 10px 60px;
    border-radius: 10px 12px 12px;
    background-color: rgb(10, 152, 0);
    color: rgb(255, 255, 255);
    width: 10px;
    justify-content: space-between;
    display: block;
    margin: 0 auto;
}